home/robotino/rpi-venv/lib/python3.11/site-packages/torch/lib/libtorch_cpu.so filter=lfs diff=lfs merge=lfs -text
home/robotino/rpi-venv/lib/python3.11/site-packages/ultralytics/pnnx filter=lfs diff=lfs merge=lfs -text
usr/lib/aarch64-linux-gnu/libLLVM-15.so filter=lfs diff=lfs merge=lfs -text
