[Unit]
Description=Starts the server for camera
After=network.target

[Service]
ExecStart=/bin/python3 /home/robotino/object-detection/detection-server.py
User=robotino
Group=robotino

[Install]
WantedBy=multi-user.target